<div class="login-wrap animated fadeIn">
  <div class="login-container d-flex justify-content-center">
    <div class="login-box card">
      <div class="login-header text-center">
        <img class="rounded-circle vab mr3" src="assets/img/favicon.ico" alt="logo">
        <h3 class="card-title d-inline">后台管理系统</h3>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <div class="col-md-12">
            <input class="form-control" type="text" placeholder="请输入账号...">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input class="form-control" type="text" placeholder="请输入密码...">
          </div>
        </div>
        <div class="form-check pl15">
          <div class="col-md-12 form-check-label">
            <input class="form-check-input" type="checkbox">记住密码
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block not-shadow" type="button">登&nbsp;&nbsp;录</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 text-right">
            <a href="#">忘记密码？</a>
          </div>
        </div>
        <div class="row copy-right">
          <div class="col-md-12 text-center">
            <p>Copyright 2017 fuybooo. All Rights Reserved. </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
