<div class="main-wrapper">
  <div class="main-primary-nav" [ngClass]="{'nav-close': navClose, 'nav-open': !navClose}">
    <div class="main-header">
      <img src="assets/img/favicon.ico" alt="Logo">
      <h3>管理系统</h3>
    </div>
    <div class="main-header-profile">
      <app-main-user-tools [userName]="mainData.userData.username"></app-main-user-tools>
    </div>
    <app-main-nav [data]="mainData.menuData"></app-main-nav>
  </div>
  <div class="main-content-wrap">
    <div class="main-header">
      <div>
        <button></button>
        <span class="main-title"></span>
      </div>
      <div class="main-tools">
        <ul class="nav nav-pills pull-right">
          <li class="main-tools-item"></li>
          <li>
            <app-main-user-tools [userName]="mainData.userData.username"></app-main-user-tools>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-container" appCustomScrollbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
