<div>
  <div class="modal-body">
    <div>
      <button aria-label="Close" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="text-primary text-center mt10 mb5">
      <div class="ml20">
        <span class="fa-stack fa-5x" aria-hidden="true">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-question fa-stack-1x"></i>
        </span>
      </div>
    </div>
    <div class="text-center word-break modal-content" [innerHTML]="config.content"></div>
  </div>
  <div class="text-center mb20 mt10">
    <button class="btn" [ngClass]="config.approveBtnCls" (click)="approve()">{{config.approveBtnText}}</button>
    <button class="btn ml15" [ngClass]="config.declineBtnCls" (click)="decline()">{{config.declineBtnText}}</button>
  </div>
</div>
