<div class="container-fluid">
  <div class="modal-header">
    <h5 class="modal-title text-danger">修改密码</h5>
    <button class="close" aria-label="Close" (click)="close()"><span aria-hidden>&times;</span></button>
  </div>
  <div class="modal-body">
    <!--注意：要使用响应式表单，需要在导入该组件的module中引入ReactiveFormsModule-->
    <form novalidate [formGroup]="passwordForm">
      <div class="row">
        <div class="col-md-9">
          <div class="row form-group">
            <label class="col-form-label col-md-3 text-right">旧密码：</label>
            <div class="col-md-9">
              <input type="password" formControlName="oldPassword" class="form-control" placeholder="请输入旧密码..." required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row form-group">
            <app-password-validator [field]="oldPassword"></app-password-validator>
          </div>
        </div>
      </div>
      <div formGroupName="passwordGroup">
        <div class="row">
          <div class="col-md-9">
            <div class="row form-group">
              <label class="col-form-label col-md-3 text-right">新密码：</label>
              <div class="col-md-9">
                <input type="password" name="newPassword" formControlName="newPassword" class="form-control" placeholder="请输入新密码...">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row form-group">
              <app-password-validator [field]="newPassword" [group]="passwordGroup"></app-password-validator>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="row form-group">
              <label class="col-form-label col-md-3 text-right">确认密码：</label>
              <div class="col-md-9">
                <input type="password" name="confirmNewPassword" formControlName="confirmNewPassword" class="form-control" placeholder="请重新输入密码...">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row form-group">
              <app-password-validator [field]="confirmNewPassword" [group]="passwordGroup"></app-password-validator>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="ok()">
          <i class="fa fa-check" aria-hidden></i>确定
        </button>
        <button class="btn btn-secondary" (click)="close()">
          <i class="fa fa-close" aria-hidden></i>关闭
        </button>
      </div>
    </div>
  </div>
</div>
