<div class="home-content">
  <!--欢迎语-->
  <div class="row mb15">
    <div class="col-md-12">
      <div class="card app-card">
        <div>
          <i class="fa fa-bullhorn fa-fw text-danger">
          </i><strong>欢迎您，Fuybooo</strong><span class="home-login-tip">
          ！这是您第<span class="text-danger">17</span>次登录，上次登录时间为：<span class="text-danger">
          2017-09-15 10:10:10</span>，如果不是您本人登录，请及时<a href="javascript:void(0)" (click)="editPassword()">修改密码</a>。</span>
          <button class="close" aria-label="Close">
            <span aria-hidden>&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!--TODO home-->
      home
      <div style="height: 1000px"></div>
    </div>
    <div class="col-md-6">
      <!--TODO home-->
      home
      <div style="height: 1000px"></div>
    </div>
  </div>
</div>
