<label class="col-md-12 col-form-label text-muted" *ngIf="!(field.dirty || field.touched)">请输入6至16位密码</label>
<label class="col-md-12 col-form-label text-danger" *ngIf="field.invalid && (field.dirty || field.touched)">
  <ng-container *ngIf="field.errors.required">必填项不能为空</ng-container>
  <ng-container *ngIf="field.errors.minlength || field.errors.maxlength">长度限制6-16位</ng-container>
  <ng-container *ngIf="field.errors.passwordValidator">密码必须包含数字、字母和符号中的至少两种，且不能包含空格或者中文</ng-container>
</label>
<label class="col-md-12 col-form-label text-danger" *ngIf="group?.errors?.equal && field.valid">
  两次输入的密码不相同
</label>
<label class="col-md-12 col-form-label text-success" *ngIf="field.valid && !group?.errors?.equal">格式正确</label>
